<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xu.module.video">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".debug.DebugApplication"
        android:label="@string/v_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme,android:label">
        <activity android:name=".ui.activity.audio.AudioRecordActivity">

        </activity>
        <activity android:name=".ui.activity.picture.Camera1PictureActivity">

        </activity>
        <activity android:name=".ui.activity.picture.Camera2PictureActivity">

        </activity>
        <activity android:name=".ui.activity.picture.CameraXPictureActivity">

        </activity>
        <activity android:name=".ui.activity.media.MediaRecordActivity">

        </activity>
        <activity android:name=".ui.activity.opengl.OpenGlActivity">

        </activity>
        <activity android:name=".ui.activity.opengl.shape.ShapeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xu.module.video.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
