<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xu.module.jianshu">

    <application
        android:name=".debug.DebugApplication"
        android:allowBackup="true"
        android:label="@string/j_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme,android:label">
        <activity android:name=".ui.home.HomeActivity">

        </activity>
        <activity android:name=".ui.repeatclick.RepeatClickActivity" />
        <activity android:name=".ui.retrofit.RetrofitTestActivity" />
        <activity android:name=".ui.hook.HookActivity">

        </activity>
        <activity android:name=".ui.lambda.LambdaActivity">

        </activity>
        <activity android:name=".ui.eventdispatch.EventDispatchActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.CoordinatorLayoutActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.CollapsingToolbarActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.sample1.TextRecyclerActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.CoordinatorHomeActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.sample2.Sample2Activity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.sample3.Sample3Activity">

        </activity>
        <activity android:name=".ui.nestedscroll.NestedScrollActivity">

        </activity>
        <activity android:name=".ui.coordinatorlayout.alipay.ZhiFuBaoActivity">

        </activity>
        <activity android:name=".ui.viewdraw.ViewDrawActivity">

        </activity>
        <activity android:name=".ui.easyload.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
