<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xu.module.wan">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".debug.DebugApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>