<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xu.module.wan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".debug.DebugApplication"
        android:icon="@drawable/w_android"
        android:label="@string/w_app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <activity android:name="com.xu.module.wan.ui.activity.login.LoginActivity">

        </activity>
        <activity android:name="com.xu.module.wan.ui.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.web.WebActivity" />
        <activity android:name=".ui.activity.setting.SettingActivity" />
        <activity android:name=".ui.activity.search.SearchActivity" />
        <activity android:name=".ui.activity.collecthistory.MyCollectHistoryActivity" />
        <activity android:name=".ui.activity.integral.IntegralActivity"/>
    </application>
</manifest>